.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 38px;
    padding: 20px;
    width: 100%;
    max-width: 1024px;
}
.collapse {
    width: 100%;
    max-width: 1023px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    &.open {
        border-radius: 15px 15px 0 0;
        background-color: #F6F6F6;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .collapse-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FF6060;
        color: white;
        padding: 16px;
        cursor: pointer;
        h2 {
            margin: 0;
            font-family: Montserrat, sans-serif;
            font-size: 18px;
            text-align: left;
        }
        .collapse-icon i {
            width: 24px;
            height: 13.71px;
            position: relative;
            transition: transform 0.7s ease, opacity 0.7s ease;
        }
        .fa-chevron-up {
            transform: rotate(-180deg);
        }
        .fa-chevron-down {
            transform: rotate(180deg);
        }
    }
    .collapse-content {
        padding: 16px;
        background-color: #F6F6F6;
        font-size: 16px;
        line-height: 1.5;
        border-radius: 0 0 15px 15px;
        background-color: #F6F6F6;
    }
}