.footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;

    .footer-logo {
        margin-top: 60px;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .footer-text {
            font-family: Montserrat;
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 768px) {
        .footer-content {
            flex-direction: column;
        }

        .footer-links {
            flex-direction: column;
            gap: 10px;
        }
    }
}

