.housing-page {
    margin-left: 100px;
    margin-right: 100px;
        .housing-details {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            &__left {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            &__right {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 10px;
            }
        }
        .housing-details__title {
            margin-top: 30px;
            margin-bottom: 0px;
        }
        .housing-details__location {
    margin-top: 0px;
        }
        .carrousel-container {
            margin-bottom: 20px;
        }
        .collapse-housings {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 70px;
            margin-bottom: 50px;
        }
    }