.rating_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    .star {
        width: 25px;
        height: 24px;

        &.star-full {
            color: #FF6060;
        }

        &.star-empty {
            color: #E3E3E3;
        }
    }
}

@media screen and (max-width: 768px) {
    .rating_container {
        order: 1;
padding-top: 15px;
        .star {
            width: 18px;
            height: 18px;            
        }
    }
}